@import "colors";

html,
body {
  height: 100%;
  font-size: 14px;
  background: #eeeeee!important;
}


.netpyneField {
  width: 97% !important;
  margin: 8px 10px 8px;
  > div:first-of-type {
    width: 100%;
    float: left;
  }
}
.netpyneField,
.netpyneFieldNoWidth {
  float: left;
  clear: left;
  margin-right: 20px;
  white-space: nowrap;
}
.helpIcon {
  margin-top: 24px;
  margin-left: -12px;
  float: left;
  font-size: 15px;
  color: #aaaaaa;
  cursor: pointer;
  position: relative;
}

.actionButton {
  font-size: 15px !important;
  margin: 10px !important;
  width: 120px !important;
  height: 120px !important;
}