@import "colors";

html,
body {
  height: 100%;
  font-size: 14px;
  background: #eeeeee!important;
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb {
    width: 0.4em;
    border-radius: 13px;
    background-clip: padding-box;
  };
  div:focus {
    outline: none!important;
  };
}

#container {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  overflow: hidden;
  font-size: 12px;
  font-family: Arial, sans-serif;

}

#mainContainer {
  overflow: auto;
}

.breadcrumb {
  background-color: #f8f6f6;
  height: 120px;
  display: flex;
  width: 90%;
  border-radius: 12px;
  align-items: center;
  overflow: visible;
  margin-top: 5px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}

.netpyneField,
.netpyneFieldNoWidth {
  float: left;
  clear: left;
  margin-right: 20px;
  white-space: nowrap;
}

.netpyneField {
  width: 97% !important;
  margin: 8px 10px 8px;
  > div:first-of-type {
    width: 100%;
    float: left;
  }
}

.helpIcon {
  float: left;
}
.helpIcon, .checkboxhelpIcon {
  margin-top: 24px;
  margin-left: -12px;
  font-size: 15px;
  color: #aaaaaa;
  cursor: pointer;
  position: relative;
}

.Card{
  width: 100%;
  display: inline-flex;
  > div {
    flex: 1;
    overflow: visible;
    margin-top: 10px;
  };
}

// style for sortable tree
.rst__rowContents {
  background: transparent;
  color: @secondary_color;
}

.activeNode .rst__rowContents {
  color: @primary_color;
  background: transparent;
}

.rst__collapseButton {
  float: left;
  vertical-align: middle;
  background: #fff
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjgiIGZpbGw9IiNGRkYiLz48ZyBzdHJva2U9IiM5ODk4OTgiIHN0cm9rZS13aWR0aD0iMS45IiA+PHBhdGggZD0iTTQuNSA5aDkiLz48L2c+Cjwvc3ZnPg==')
    no-repeat center;
  position: relative;
  top: 9px;
  
}

.rst__expandButton {
  float: left;
  vertical-align: middle;
  background: #fff
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjgiIGZpbGw9IiNGRkYiLz48ZyBzdHJva2U9IiM5ODk4OTgiIHN0cm9rZS13aWR0aD0iMS45IiA+PHBhdGggZD0iTTQuNSA5aDkiLz48cGF0aCBkPSJNOSA0LjV2OSIvPjwvZz4KPC9zdmc+')
    no-repeat center;
  position: relative;
  top: 9px;
}

.rst__nodeContent > div > div:nth-child(1) {
  float: left;
}

.rst__lineBlock {
  float: left;
  height: 20px;
}
.rst__rowTitle {
  float: left;
  font-weight: 200;
  font-size: 16px;
  cursor: pointer;
}

.rst__rowContents,
.rst__rowWrapper,
.rst__rowLabel, {
  float: left;
  vertical-align: middle;
}
.ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible!important;
}








.flexlayout__layout {
  left: 0;
  top: 35px;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow:hidden;
}

.flexlayout__splitter {
  background-color: linear-gradient(#111, #444);
}

.flexlayout__splitter:hover {
  background-color: #428bca;
}

.customIconFlexLayout {
  color: rgb(114,114,114);
  padding-right: 1em;
}

.customIconFlexLayout:hover {
  cursor: pointer;
  color: #085a78
}

.customIconTab {
  color: rgb(114,114,114);
  height: 5px;
  width: 5px;
  padding-right: 15px;
  float: left;
}

.customIconTab:hover {
  cursor: pointer;
  color: #085a78
}

.flexlayout__splitter_drag {
  border-radius: 2px;
  background-color: #444;
  z-index: 1000;
}

.flexlayout__outline_rect {
  position: absolute;
  cursor: move;
  border: 2px solid #cfe8ff;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, .2);
  border-radius: 5px;
  z-index: 1000;
  box-sizing: border-box;
}

.flexlayout__outline_rect_edge {
  cursor: move;
  border: 2px solid #b7d1b5;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, .2);
  border-radius: 5px;
  z-index: 1000;
  box-sizing: border-box;
}

.flexlayout__edge_rect {
  position: absolute;
  z-index: 1000;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  background-color: lightgray;
}

.flexlayout__drag_rect {
  position: absolute;
  cursor: move;
  border: 2px solid #aaaaaa;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, .3);
  border-radius: 5px;
  z-index: 1000;
  box-sizing: border-box;
  background-color:#eeeeee;
  opacity: 0.9;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow:hidden;
  padding:10px;
  word-wrap: break-word;
}

.flexlayout__tabset {
  overflow: hidden;
  background-color: #1a1a1a;
  box-sizing: border-box;
}

.flexlayout__tab {
  overflow: auto;
  position:absolute;
  box-sizing: border-box;
  background-color: #1a1a1a;
  color:white;
}

.flexlayout__tab_button {
  cursor: pointer;
  padding: 2px 8px 3px 8px;
  margin: 2px;
  /*box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .15);*/
  /*border-top-left-radius: 3px;*/
  /*border-top-right-radius: 3px;*/
  float:left;
  vertical-align: top;
  box-sizing: border-box;
}

.flexlayout__tab_button--selected {
  color: #ddd;
  background-color: #1a1a1a;
}

.flexlayout__tab_button--unselected {
  color: gray;
}

.flexlayout__tab_button_leading {
  float: left;
  display:inline-block;
}

.flexlayout__tab_button_content {
  float: left;
  display:inline-block;
}

.flexlayout__tab_button_textbox {
  float: left;
  border: none;
  color:lightgreen;
  background-color:#1a1a1a;
}
.flexlayout__tab_button_textbox:focus {
  outline: none;
}

.flexlayout__tab_button_trailing {
  float: left;
  display:inline-block;
  margin-left:5px;
  margin-top:3px;
  width:8px;
  height:8px;
}

.flexlayout__tab_button:hover .flexlayout__tab_button_trailing,
.flexlayout__tab_button--selected .flexlayout__tab_button_trailing{
  background: transparent url("./images/close_white.png") no-repeat center;
}

.flexlayout__tab_button_overflow {
  float: left;
  width: 20px;
  height:15px;
  margin-top:2px;
  padding-left:12px;
  border:none;
  font-size: 10px;
  color:lightgray;
  font-family: Arial, sans-serif;
  background: transparent url("./images/more.png") no-repeat left;
}

.flexlayout__tabset_header
{
  position: absolute;
  left: 0;
  right: 0;
  color:#eee;
  background-color: #212121;
  padding:3px 3px 3px 5px;
  /*box-shadow: inset 0px 0px 3px 0px rgba(136, 136, 136, 0.54);*/
  box-sizing: border-box;
}

.flexlayout__tab_header_inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10000px;
}

.flexlayout__tab_header_outer {
  background: #50504f;
  //background: linear-gradient(90deg, rgba(80,80,79,1) 35%, rgba(163,165,166,1) 100%);
  position: absolute;
  left: 0;
  right: 0;
  /*top: 0px;*/
  /*height: 100px;*/
  overflow: hidden;
}

.flexlayout__tabset-selected
{
  //background-image: linear-gradient(#0d96c7, #034c66);
  background-image: linear-gradient(#cff2ff, #cff2ff);
}

.flexlayout__tabset-maximized
{
  //background-image: linear-gradient(#0d96c7, #034c66);
  background-image: linear-gradient(#cff2ff, #cff2ff);
}

.flexlayout__tab_toolbar {
  position:absolute;
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  top:0;
  bottom:0;
  right:0;
}

.flexlayout__tab_toolbar_button-min {
  margin-right: 3px;
  color: rgb(114,114,114);
  width:20px;
  height:20px;
  border:none;
  outline-width: 0;
  background: transparent;
}

.flexlayout__tab_toolbar_button-min:before {
  content: "\F2D0";
  font-family: FontAwesome;
}

.flexlayout__tab_toolbar_button-min:hover {
  color: #085a78
}

.flexlayout__tab_toolbar_button-max {
  width:20px;
  height:20px;
  border:none;
  outline-width: 0;
  background: transparent url("./images/restore.png") no-repeat center;
}

.flexlayout__popup_menu {
}

.flexlayout__popup_menu_item {
  padding: 2px 10px 2px 10px;
  color:#ddd;
}

.flexlayout__popup_menu_item:hover {
  background-color: #444444;
}

.flexlayout__popup_menu_container {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
  border: 1px solid #555;
  background: #1a1a1a;
  border-radius:3px;
  position:absolute;
  z-index:1000;
}

.flexlayout__border_top {
  //background-image: linear-gradient(90deg, #0d96c7, #034c66);
  background-color: #cff2ff;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  overflow:hidden;
}

.flexlayout__border_bottom {
  //background-image: linear-gradient(90deg, #0d96c7, #034c66);
  background-color: #cff2ff;
  border-top: 1px solid #333;
  box-sizing: border-box;
  overflow:hidden;
}

.flexlayout__border_left {
  //background-image: linear-gradient(90deg, #0d96c7, #034c66);
  background-color: #cff2ff;
  border-right: 1px solid #333;
  box-sizing: border-box;
  overflow:hidden;
}

.flexlayout__border_right {
  //background-image: linear-gradient(90deg, #0d96c7, #034c66);
  background-color: #cff2ff;
  border-left: 1px solid #333;
  box-sizing: border-box;
  overflow:hidden;
}

.flexlayout__border_inner_bottom{
  display: flex;
}

.flexlayout__border_inner_left {
  position:absolute;
  white-space: nowrap;
  right: 23px;
  transform-origin:  top right;
  transform: rotate(-90deg);
}

.flexlayout__border_inner_right {
  position:absolute;
  white-space: nowrap;
  left: 23px;
  transform-origin:  top left;
  transform: rotate(90deg);
}

.flexlayout__border_button {
  background-color: #1a1a1a;
  color:white;
  display:inline-block;
  white-space:nowrap;
  cursor: pointer;
  padding: 2px 8px 3px 8px;
  margin: 2px;
  vertical-align: top;
  box-sizing: border-box;
}

.flexlayout__border_button--selected {
  color: #ddd;
  background-color: #1a1a1a;
}

.flexlayout__border_button--unselected {
  color: gray;
}

.flexlayout__border_button_leading {
  float: left;
  display:inline;
}

.flexlayout__border_button_content {
  display:inline-block;
}

.flexlayout__border_button_textbox {
  float: left;
  border: none;
  color:green;
  background-color:#ddd;
}

.flexlayout__border_button_textbox:focus {
  outline: none;
}

.flexlayout__border_button_trailing {
  display:inline-block;
  margin-left:5px;
  margin-top:3px;
  width:8px;
  height:8px;
}

.flexlayout__border_button:hover .flexlayout__border_button_trailing,
.flexlayout__border_button--selected .flexlayout__border_button_trailing{
  background: transparent url("./images/close_white.png") no-repeat center;
}

.flexlayout__border_toolbar_left {
  position:absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  bottom:0;
  left:0;
  right:0;
}

.flexlayout__border_toolbar_right {
  position:absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  bottom:0;
  left:0;
  right:0;
}

.flexlayout__border_toolbar_top {
  position:absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  top:0;
  bottom:0;
  right:0;
}


.flexlayout__border_toolbar_bottom {
  position:absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  top:0;
  bottom:0;
  right:0;
}
