@import "colors";

html,
body {
  height: 100%;
  font-size: 14px;
  background: #eeeeee!important;
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb {
    width: 0.4em;
    border-radius: 13px;
    background-clip: padding-box;
  }
}

#mainContainer {
  overflow: auto;
}

.netpyneField,
.netpyneFieldNoWidth {
  float: left;
  clear: left;
  margin-right: 20px;
  white-space: nowrap;
}

.netpyneField {
  width: 97% !important;
  margin: 8px 10px 8px;
  > div:first-of-type {
    width: 100%;
    float: left;
  }
}

.helpIcon {
  float: left;
}
.helpIcon, .checkboxhelpIcon {
  margin-top: 24px;
  margin-left: -12px;
  font-size: 15px;
  color: #aaaaaa;
  cursor: pointer;
  position: relative;
}

.actionButton {
  font-size: 15px !important;
  margin: 10px !important;
  width: 120px !important;
  height: 120px !important;
}